- categories = Category.all
%ul.list-reset.flex
    - categories.each do |category|
        %li.mr-6
            %p.text-blue.hover:text-blue-darker
                = link_to category.name, category_path(category)
